.App {
  text-align: center;
  background-color: #920592;
  color: black;
  font: 'inherit';
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border: 1px solid rgb(183, 0, 255);
  padding: 8px;
  font-weight: bold;
}

/* body {
  background-color: #802b80;
} */

/* input{
  font-weight: normal;
} */

button {
  font-weight: bold;
  border-radius: 10px;
}

/* button {
  background-color: 'grey';
  color: 'black';
  font: 'inherit';
  border: '1px solid blue';
  padding: '8px 6px 3px';
  cursor: 'pointer'
}; */